* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: sans-serif;
}

body {
    margin: 0;
}

.nav {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-evenly;
}

.item {
    flex: 1;
    border: 1px solid white;
    text-align: center;
    padding: .3rem;
}

.logo{
    background-color: white;
}

.banner{
    background-image: url("img/trianglify.png");
    color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 20rem;
    padding-top: 7rem;
    text-align: center;
}

.home {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    background-color: black;
}

.discover {
    display:flex;
    flex-basis: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
    flex-direction: column;
    color: white;
    text-align: center;
}

.circle {
    background-color: white;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 3rem;
    width: 6rem;
    border-radius: 0rem 0rem 6rem 6rem;
}

p {
    font-size: 14px;
}


/*****************************
    *SKILLS*
*******************************/


.skills {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.lang {
    display:flex;
    background-color: green;
    font-size: 15px;
    width: 40rem;
    height: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.name {
    flex-basis: 10rem;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
}

.progress{
    display: flex;
    width: 40rem;
    margin: 0;
    text-align: right;
}

.percent {
    background-color: blue;
    width: 80%;
    margin: 0;
}





