* {
    box-sizing: border-box;
}
//#11007f
$color_one: #11589E;
$color_two: #11589E;
$color_three: #6d7993;
$color_four: #96858f;
$text_color: white;
$font_normal: "Poppins";

html {
    font-size: 18px;
    font-family: $font_normal;
}

body {
    margin: 0;
}


nav {
    display: flex;
    background-color: $color_two;
    color: $text_color;
    justify-content: space-evenly;
    .item {
        flex: 1;
        border: 1px solid white;
        text-align: center;
        padding: .3rem;
        text-decoration: none;
        
    }
    .logo{
        background-color: white;
    }
    
}

a::hover {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: white;
}

.banner{
    background-color:$color_one;
    color: $text_color;
    font-family: $font_normal;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 20rem;
    padding-top: 2rem;
    text-align: center;

    h1 {
    font-family: "Poppins";
    margin: 0;
    font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
}
/******************
        INFO
*******************/

.home {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    background-color: $color_four;
    

    .discover {
        display:flex;
        flex-basis: 7rem;
        margin-left: 2rem;
        margin-right: 2rem;
        flex-direction: column;
        color: $text_color;
        text-align: center;

        .circle {
            background-color: white;
            margin: auto;
            margin-top: 0;
            margin-bottom: 0;
            height: 3rem;
            width: 6rem;
            border-radius: 0rem 0rem 6rem 6rem;
        }
        p {
            font-size: 14px;
        }
    }
}



/*****************************
    *SKILLS*
*******************************/


.skills {
    display: flex;
    flex-direction: column;
    background-color: $color_one;
    align-items: center;
    height: 100vh;

    h2 {
        padding: 3rem 0 1rem 0;
        color: white;
        margin: 0;
    }

    .lang {
        display: flex;
        flex-direction: row;
        margin: 1rem;

        .name {
            
            margin: 0;
            background-color: black;
            color: $text_color;
            text-align: center;
            border-radius: 2px;
            height: 2rem;
            border-radius: 6px 0 0 6px;
            width: 10rem;

        }
        progress {
            appearance: none;
            margin: 0;
            height: 2rem;
            width: 30rem;
            
        }
        progress::-webkit-progress-bar {
        
            background-color: grey;
            border-radius: 6px;

        }
        progress::-webkit-progress-value {
            background-color: orange;
        }
    }
}





/**********************
      PORTFOLIO
***********************/


.portfolio {
    height: 100vh;
    background-color: $color_three;

    h2 {
        color: $text_color;
        text-align: center;
        margin: 0;
        padding: 3rem 0 1rem 0;
    }

    .pictures {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-evenly;
        height: 80%;
        width: 80%;
        margin: auto;
    
    
        .inside {
            display: flex;
            background-color: white;
            flex: 1 0 25%;
            height: 40%;
            margin: 1rem;   
            -webkit-box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.75);
            box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.75);
            justify-content: flex-end;
            align-items: flex-end;

            p {
                padding-right: 1rem;

            }
        }
    }
}

/***********************
        ABOUT ME
************************/

.about {
    background-color: $color_four;
    color: $text_color;
    height: 100vh;

    h2 {
        text-align: center;
        margin: 0;
        padding: 3rem 0 1rem 0;

    }

    .container {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 80%;
        height: 80%;

        .image {
            background-color: white;
            border-radius: 50%;
            

        }
        .info {
         
            flex-basis: 70%;

        }
    }
}

/*************************
        FIND ME
*************************/

.icons {
    width: 100%;
    text-align: center;
    
    h2{
    padding: 2rem 0 1rem 0;
    margin: 0;
    }

    .container{
        margin: auto;
        width: 30%;
        display: flex;
        justify-content: space-between;


        img {
            width: 4rem;
            height: 4rem;
        }
    }
}

/******************
        CONTACT
******************/

.contact {
    background-color: $color_one;
    padding-bottom: 2rem;

    h2 {
        padding: 3rem 0 1rem 0;
        text-align: center;
        color: white;
    }

    form {
        
        div {
            display: flex;
            width: 70%;
            margin: auto;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: space-between;
            height: 20vh;
            
        
            input {
                background-color: $color_one;
                color: white;
                width: 40%;
                border: none;
                border-bottom: 2px solid black;
            
                height: 1.5rem;
                
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: white;
                }
            }
        }

        textarea {
            margin: auto;
            
            display: flex;
            justify-content: center;
            width: 40%;
            height: 20vh;
        }

        .button {
            margin: 1rem 45% 0 45%;
            width: 10%;
            text-align: center;
        }
    }
}


footer {

  

    .container{
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 10%;

        img {
            width: 2rem;
            height: 2rem;
        }
    }
    margin-top: 1rem;
    margin-bottom: 1rem;
}